<section class="pb-0">
	<div
		class="container">
		<!-- Title -->
		<div class="inner-container-small text-center mb-4 mb-sm-5">
			<h2 class="mb-4">
				<div contenteditable="{{onEdit}}" class="editable-element" data-language="{{language}}" data-column="content1" data-id="{{contents_id}}">{{contentData.content1|default('Default Content')}}</div>
			</h2>
			<p class="mb-4">
				<div contenteditable="{{onEdit}}" class="editable-element" data-language="{{language}}" data-column="content2" data-id="{{contents_id}}">{{contentData.content2|default('Default Content')}}</div>
			</p>
			<a href="{{contentData.content13|default('Default Content')}}" class="btn btn-dark mb-0">
				<div contenteditable="{{onEdit}}" class="editable-element" data-language="{{language}}" data-column="content3" data-id="{{contents_id}}">{{contentData.content3|default('Default Content')}}</div>
			</a>
		</div>


		<!-- Feature -->
		<div
			class="row justify-content-center g-sm-6 mt-6">
			<!-- Feature item -->
			<div class="col-sm-6 col-lg-4 mb-2 mb-sm-0">
				<div
					class="card card-body text-center bg-transparent p-0">
					<!-- Icon -->
					<div class="icon-square text-dark flex-shrink-0 me-3">
						<i class="{{contentData.content10|default('Default Content')}} text-primary" style="font-size: 40px; padding: 10px;"></i>
					</div>
					<!-- Title -->
					<h5 class="mb-3">
						<div contenteditable="{{onEdit}}" class="editable-element" data-language="{{language}}" data-column="content4" data-id="{{contents_id}}">{{contentData.content4|default('Default Content')}}</div>
					</h5>
					<p class="mb-0">
						<div contenteditable="{{onEdit}}" class="editable-element" data-language="{{language}}" data-column="content5" data-id="{{contents_id}}">{{contentData.content5|default('Default Content')}}</div>
					</p>
				</div>
			</div>

			<!-- Feature item -->
			<div class="col-sm-6 col-lg-4 mb-2 mb-sm-0">
				<div
					class="card card-body text-center bg-transparent p-0">
					<!-- Icon -->
					<div class="icon-square text-dark flex-shrink-0 me-3">
						<i class="{{contentData.content11|default('Default Content')}} text-primary" style="font-size: 40px; padding: 10px;"></i>
					</div>
					<!-- Title -->
					<h5 class="mb-3">
						<div contenteditable="{{onEdit}}" class="editable-element" data-language="{{language}}" data-column="content6" data-id="{{contents_id}}">{{contentData.content6|default('Default Content')}}</div>
					</h5>
					<p class="mb-0">
						<div contenteditable="{{onEdit}}" class="editable-element" data-language="{{language}}" data-column="content7" data-id="{{contents_id}}">{{contentData.content7|default('Default Content')}}</div>
					</p>
				</div>
			</div>

			<!-- Feature item -->
			<div class="col-sm-6 col-lg-4 mb-2 mb-sm-0">
				<div
					class="card card-body text-center bg-transparent p-0">
					<!-- Icon -->
					<div class="icon-square text-dark flex-shrink-0 me-3">
						<i class="{{contentData.content12|default('Default Content')}} text-primary" style="font-size: 40px; padding: 10px;"></i>
					</div>
					<!-- Title -->
					<h5 class="mb-3">
						<div contenteditable="{{onEdit}}" class="editable-element" data-language="{{language}}" data-column="content8" data-id="{{contents_id}}">{{contentData.content8|default('Default Content')}}</div>
					</h5>
					<p class="mb-0">
						<div contenteditable="{{onEdit}}" class="editable-element" data-language="{{language}}" data-column="content9" data-id="{{contents_id}}">{{contentData.content9|default('Default Content')}}</div>
					</p>
				</div>
			</div>

		</div>

	</div>
</section>

<p class="mb-0">

	<b>Icon1:</b>
	<span contenteditable="{{onEdit}}" class="editable-element" data-language="{{language}}" data-column="content10" data-id="{{contents_id}}">{{contentData.content10|default('Default Content')}}</span>
	<b>Icon2:</b>
	<span contenteditable="{{onEdit}}" class="editable-element" data-language="{{language}}" data-column="content11" data-id="{{contents_id}}">{{contentData.content11|default('Default Content')}}</span>
	<b>Icon3:</b>
	<span contenteditable="{{onEdit}}" class="editable-element" data-language="{{language}}" data-column="content12" data-id="{{contents_id}}">{{contentData.content12|default('Default Content')}}</span>
	<b>Odkaz:</b>
	<span contenteditable="{{onEdit}}" class="editable-element" data-language="{{language}}" data-column="content13" data-id="{{contents_id}}">{{contentData.content13|default('Default Content')}}</span>
	<b>Button:</b>
	<span contenteditable="{{onEdit}}" class="editable-element" data-language="{{language}}" data-column="content3" data-id="{{contents_id}}">{{contentData.content3|default('Default Content')}}</span>

</p>

<p>Components id:
	<b>{{ components_id }}</b>
	Page id:
	<b>{{ page_id }}</b>
	Component Order:
	<b>{{ component_order }}</b>
	Component name:
	<b>{{ component_name }}</b>
	Contents id:
	<b>{{ contents_id }}</b>
</p>
{{ createButton | raw }}
