<section class="pb-0">
    <div class="container">
        <!-- Title -->
        <div class="inner-container-small text-center mb-4 mb-sm-5">
            <h2 class="mb-4"><div contenteditable="{{onEdit}}" class="editable-element" data-language="{{language}}" data-column="content1" data-id="{{contents_id}}">{{contentData.content1|default('Default Content')}}</div></h2>
            <p class="mb-4"><div contenteditable="{{onEdit}}" class="editable-element" data-language="{{language}}" data-column="content2" data-id="{{contents_id}}">{{contentData.content2|default('Default Content')}}</div></p>
            <a href="integrations.html" class="btn btn-dark mb-0"><div contenteditable="{{onEdit}}" class="editable-element" data-language="{{language}}" data-column="content3" data-id="{{contents_id}}">{{contentData.content3|default('Default Content')}}</div></a>
        </div>



        <!-- Feature -->
        <div class="row justify-content-center g-sm-6 mt-6">
            <!-- Feature item -->
            <div class="col-sm-6 col-lg-4 mb-2 mb-sm-0">
                <div class="card card-body text-center bg-transparent p-0">
                    <!-- Icon -->
                    <figure class="text-primary mb-4">
                        <svg width="50" height="50" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.1 8.25C13.1 6.73122 14.3312 5.5 15.85 5.5C17.3688 5.5 18.6 6.73122 18.6 8.25C18.6 9.76878 17.3688 11 15.85 11C14.3312 11 13.1 9.76878 13.1 8.25Z" fill="currentColor" fill-opacity="0.25" />
                            <path d="M21.5948 16.2194C21.4645 15.6034 21.3994 15.2953 21.3081 15.031C20.748 13.4092 19.3144 12.2471 17.6119 12.0346C17.3343 12 17.0195 12 16.3898 12H15.2359C14.5857 12 14.2606 12 13.9682 12.0385C12.4638 12.2365 11.1605 13.1794 10.5017 14.5463C10.3737 14.812 10.272 15.1207 10.0686 15.7383V15.7383C9.82585 16.4751 9.70449 16.8435 9.66869 17.1384C9.4797 18.6948 10.5211 20.1343 12.0585 20.4417C12.3498 20.5 12.7377 20.5 13.5134 20.5H18.1248C18.7369 20.5 19.043 20.5 19.2835 20.4607C20.7862 20.2149 21.8665 18.8823 21.796 17.3613C21.7848 17.1178 21.7214 16.8183 21.5948 16.2194V16.2194Z" fill="currentColor" fill-opacity="0.25" />
                            <path d="M5.6 6.25C5.6 4.73122 6.83122 3.5 8.35 3.5C9.86878 3.5 11.1 4.73122 11.1 6.25C11.1 7.76878 9.86878 9 8.35 9C6.83122 9 5.6 7.76878 5.6 6.25Z" fill="currentColor" />
                            <path d="M14.0948 14.2194C13.9645 13.6034 13.8994 13.2953 13.8081 13.031C13.248 11.4092 11.8144 10.2471 10.1119 10.0346C9.83431 10 9.51946 10 8.88976 10H7.73587C7.08569 10 6.7606 10 6.46821 10.0385C4.96381 10.2365 3.66052 11.1794 3.00174 12.5463C2.87371 12.812 2.77199 13.1207 2.56857 13.7383V13.7383C2.32585 14.4751 2.20449 14.8435 2.16869 15.1384C1.9797 16.6948 3.02108 18.1343 4.55849 18.4417C4.84977 18.5 5.23765 18.5 6.01343 18.5H10.6248C11.2369 18.5 11.543 18.5 11.7835 18.4607C13.2862 18.2149 14.3665 16.8823 14.296 15.3613C14.2848 15.1178 14.2214 14.8183 14.0948 14.2194V14.2194Z" fill="currentColor" />
                        </svg>
                    </figure>
                    <!-- Title -->
                    <h5 class="mb-3"><div contenteditable="{{onEdit}}" class="editable-element" data-language="{{language}}" data-column="content4" data-id="{{contents_id}}">{{contentData.content4|default('Default Content')}}</div></h5>
                    <p class="mb-0"><div contenteditable="{{onEdit}}" class="editable-element" data-language="{{language}}" data-column="content5" data-id="{{contents_id}}">{{contentData.content5|default('Default Content')}}</div></p>
                </div>
            </div>

            <!-- Feature item -->
            <div class="col-sm-6 col-lg-4 mb-2 mb-sm-0">
                <div class="card card-body text-center bg-transparent p-0">
                    <!-- Icon -->
                    <figure class="text-primary mb-2">
                        <svg width="50" height="50" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.47802 7.91541C2.25 8.79872 2.25 9.94639 2.25 12C2.25 14.3276 2.25 15.4914 2.582 16.4256C3.16141 18.0559 4.44414 19.3386 6.07444 19.918C7.0086 20.25 8.1724 20.25 10.5 20.25H13.5C15.8276 20.25 16.9914 20.25 17.9256 19.918C19.5559 19.3386 20.8386 18.0559 21.418 16.4256C21.75 15.4914 21.75 14.3276 21.75 12C21.75 9.94641 21.75 8.79874 21.522 7.91543L17.754 10.692C16.6402 11.5127 15.7625 12.1595 15.002 12.6178C14.2228 13.0874 13.5145 13.3926 12.7288 13.4929C12.2452 13.5547 11.7557 13.5547 11.2721 13.493C10.4864 13.3926 9.77801 13.0875 8.99883 12.618C8.23833 12.1597 7.36057 11.5129 6.24672 10.6922L2.47802 7.91541Z" fill="currentColor" fill-opacity="0.25" />
                            <path d="M3.0918 6.50448L7.1064 9.46247C8.25686 10.3101 9.0791 10.915 9.77299 11.3332C10.455 11.7442 10.9601 11.941 11.462 12.005C11.8195 12.0507 12.1812 12.0507 12.5387 12.005C13.0406 11.9409 13.5457 11.7441 14.2277 11.3331C14.9215 10.9149 15.7438 10.31 16.8942 9.46225L20.9081 6.50449C20.2273 5.38896 19.1791 4.52754 17.9255 4.082C16.9913 3.75 15.8275 3.75 13.4999 3.75L10.4999 3.75C8.17235 3.75 7.00855 3.75 6.07439 4.082C4.82076 4.52754 3.77264 5.38895 3.0918 6.50448Z" fill="currentColor" />
                        </svg>
                    </figure>
                    <!-- Title -->
                    <h5 class="mb-3"><div contenteditable="{{onEdit}}" class="editable-element" data-language="{{language}}" data-column="content6" data-id="{{contents_id}}">{{contentData.content6|default('Default Content')}}</div></h5>
                    <p class="mb-0"><div contenteditable="{{onEdit}}" class="editable-element" data-language="{{language}}" data-column="content7" data-id="{{contents_id}}">{{contentData.content7|default('Default Content')}}</div></p>
                </div>
            </div>

            <!-- Feature item -->
            <div class="col-sm-6 col-lg-4 mb-2 mb-sm-0">
                <div class="card card-body text-center bg-transparent p-0">
                    <!-- Icon -->
                    <figure class="text-primary mb-4">
                        <svg width="50" height="50" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13 2.24609H11C8.1877 2.24609 6.78155 2.24609 5.79581 2.96228C5.47745 3.19358 5.19748 3.47354 4.96619 3.7919C4.25 4.77764 4.25 6.18379 4.25 8.99609V14.9961C4.25 17.8084 4.25 19.2145 4.96619 20.2003C5.19748 20.5186 5.47745 20.7986 5.79581 21.0299C6.78155 21.7461 8.1877 21.7461 11 21.7461H13C15.8123 21.7461 17.2184 21.7461 18.2042 21.0299C18.5226 20.7986 18.8025 20.5186 19.0338 20.2003C19.75 19.2145 19.75 17.8084 19.75 14.9961V8.99609C19.75 6.18379 19.75 4.77764 19.0338 3.7919C18.8025 3.47354 18.5226 3.19358 18.2042 2.96228C17.2184 2.24609 15.8123 2.24609 13 2.24609Z" fill="currentColor" fill-opacity="0.25" />
                            <path d="M8.5 11.9961H15.5M8.5 15.9961H15.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M15.75 3.75V4.6C15.75 5.91241 15.75 6.56861 15.4158 7.02862C15.3078 7.17719 15.1772 7.30784 15.0286 7.41578C14.5686 7.75 13.9124 7.75 12.6 7.75H11.4C10.0876 7.75 9.43139 7.75 8.97138 7.41578C8.82281 7.30784 8.69216 7.17719 8.58422 7.02862C8.25 6.56861 8.25 5.91241 8.25 4.6V3.75H15.75Z" fill="currentColor" />
                        </svg>
                    </figure>
                    <!-- Title -->
                    <h5 class="mb-3"><div contenteditable="{{onEdit}}" class="editable-element" data-language="{{language}}" data-column="content8" data-id="{{contents_id}}">{{contentData.content8|default('Default Content')}}</div></h5>
                    <p class="mb-0"><div contenteditable="{{onEdit}}" class="editable-element" data-language="{{language}}" data-column="content8" data-id="{{contents_id}}">{{contentData.content8|default('Default Content')}}</div></p>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- Přidání zobrazení dalších proměnných -->
<p>Components id: <b>{{ components_id }}</b> Page id: <b>{{ page_id }}</b> Component Order: <b>{{ component_order }}</b> Component name: <b>{{ component_name }}</b> Contents id: <b>{{ contents_id }}</b></p>
{{ createButton | raw }} 

{{ editButtons.content9 | raw }}