c1
<section class="overflow-hidden">
	<div class="container">


		<div
			class="row g-4">
			<!-- Feature content START -->
			<div
				class="col-lg-6 mb-sm-6 mb-lg-0">
				<!-- Title -->
				<h2 class="mb-4">
					<span contenteditable="{{ onEdit ? 'true' : 'false' }}" class="editable-element" data-language="{{language}}" data-column="content1" data-id="{{contentsId}}">{{contentData.content1|default('Vytvořte moderní e-shop')}}</span>
				</h2>
				<p class="mb-0">
					<span contenteditable="{{onEdit ? 'true' : 'false'}}" class="editable-element" data-language="{{language}}" data-column="content2" data-id="{{contentsId}}">{{contentData.content2|default('Redakční systém obsahuje veškeré funkce pro správu e-shopu.')}}</span>
				</p>

				<hr class="my-4 my-sm-5">
				<!-- Divider -->

				<!-- Features item -->
					<div class="row g-4 mb-4 mb-sm-5"> <div
						class="col-sm-6">
						<!-- Items -->
						<div
							class="d-flex mb-4 mb-sm-5">
							<!-- Icon -->
							<div class="icon-md flex-shrink-0 text-primary bg-primary bg-opacity-10 rounded-circle">
								<i class="{{contentData.content13|default('bi bi-truck-flatbed')}} fa-xl"></i>
							</div>
							<!-- Content -->
							<div class="ms-3">
								<h6 class="mb-0 mb-sm-2">
									<span contenteditable="{{onEdit ? 'true' : 'false'}}" class="editable-element" data-language="{{language}}" data-column="content3" data-id="{{contentsId}}">{{contentData.content3|default('Odesílání zboží')}}</span>
								</h6>
								<p class="mb-0">
									<span contenteditable="{{onEdit ? 'true' : 'false'}}" class="editable-element" data-language="{{language}}" data-column="content4" data-id="{{contentsId}}">{{contentData.content4|default('Možnost napojení na dopravní společnosti jako je Zásilkovna.')}}</span>
								</p>
							</div>
						</div>

						<!-- Items -->
						<div
							class="d-flex">
							<!-- Icon -->
							<div class="icon-md flex-shrink-0 text-primary bg-primary bg-opacity-10 rounded-circle">
								<i class="{{contentData.content14|default('bi bi-boxes')}} fa-xl"></i>
							</div>
							<!-- Content -->
							<div class="ms-3">
								<h6 class="mb-0 mb-sm-2">
									<span contenteditable="{{onEdit ? 'true' : 'false'}}" class="editable-element" data-language="{{language}}" data-column="content5" data-id="{{contentsId}}">{{contentData.content5|default('Propojení s bankou')}}</span>
								</h6>
								<p class="mb-0">
									<span contenteditable="{{onEdit ? 'true' : 'false'}}" class="editable-element" data-language="{{language}}" data-column="content6" data-id="{{contentsId}}">{{contentData.content6|default('Automatické párování všech plateb s objednávkami.')}}</span>
								</p>
							</div>
						</div>
					</div>

					<div
						class="col-sm-6">
						<!-- Items -->
						<div
							class="d-flex mb-4 mb-sm-5">
							<!-- Icon -->
							<div class="icon-md flex-shrink-0 text-primary bg-primary bg-opacity-10 rounded-circle">
								<i class="{{contentData.content15|default('bi bi-people')}} fa-xl"></i>
							</div>
							<!-- Content -->
							<div class="ms-3">
								<h6 class="mb-0 mb-sm-2">
									<span contenteditable="{{onEdit ? 'true' : 'false'}}" class="editable-element" data-language="{{language}}" data-column="content7" data-id="{{contentsId}}">{{contentData.content7|default('Platební brána')}}</span>
								</h6>
								<p class="mb-0">
									<span contenteditable="{{onEdit ? 'true' : 'false'}}" class="editable-element" data-language="{{language}}" data-column="content8" data-id="{{contentsId}}">{{contentData.content8|default('Zákazníci mohou platit kartou, převodem, i Bitcoinem.')}}</span>
								</p>
							</div>
						</div>

						<!-- Items -->
						<div
							class="d-flex">
							<!-- Icon -->
							<div class="icon-md flex-shrink-0 text-primary bg-primary bg-opacity-10 rounded-circle">
								<i class="{{contentData.content16|default('bi bi-shield-check')}} fa-xl"></i>
							</div>
							<!-- Content -->
							<div class="ms-3">
								<h6 class="mb-0 mb-sm-2">
									<span contenteditable="{{onEdit ? 'true' : 'false'}}" class="editable-element" data-language="{{language}}" data-column="content9" data-id="{{contentsId}}">{{contentData.content9|default('Vedení učetnictví')}}</span>
								</h6>
								<p class="mb-0">
									<span contenteditable="{{onEdit ? 'true' : 'false'}}" class="editable-element" data-language="{{language}}" data-column="content10" data-id="{{contentsId}}">{{contentData.content10|default('Vedení daňové evidence dokážeme z automatizovat.')}}</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- Row END -->

				<!-- Button -->
				<a href="{{contentData.content12|default('Default Content')}}" class="btn btn-dark mb-0">
					<span contenteditable="{{onEdit ? 'true' : 'false'}}" class="editable-element" data-language="{{language}}" data-column="content11" data-id="{{contentsId}}">{{contentData.content11|default('Zjistit více informací')}}</span>
				</a>
			</div>
			<!-- Feature content END -->

			<!-- Feature image & decoration START -->
			<div class="col-lg-6">
				<div class="row">
					<div
						class="col-lg-11 col-xl-9 position-relative ms-auto">
						<!-- SVG decoration -->
						<figure class="position-absolute top-50 start-0 translate-middle z-index-2">
							<svg width="159" height="155" viewbox="0 0 159 155" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path class="fill-primary" d="M14.2394 111.637C13.5965 111.365 12.9265 111.083 12.2734 110.839C10.1612 110.017 8.07613 109.206 5.88225 108.354C6.18466 107.629 6.68446 107.288 7.12302 106.862C8.19051 105.834 9.28521 104.815 10.1758 103.596C10.9576 102.585 11.4775 101.445 11.7254 100.202C11.7797 99.9745 11.7898 99.6988 11.5177 99.597C11.3272 99.5257 11.0449 99.4511 10.8681 99.5091C10.4294 99.6864 10.035 99.9113 9.6304 100.163C6.57033 102.123 4.06486 104.755 1.43689 107.217C1.2567 107.367 1.12074 107.565 0.984778 107.762C0.525929 108.491 0.553501 109.495 1.0979 110.195C1.43134 110.63 1.85998 110.977 2.36679 111.198C5.43823 112.441 8.5844 113.401 11.9004 113.742C12.5874 113.813 13.3322 113.812 13.985 113.56C14.4509 113.393 14.8385 113.103 14.8213 112.569C14.8551 112.147 14.6374 111.817 14.2394 111.637Z"></path>
								<path class="fill-primary" d="M14.8846 105.45C20.7137 105.459 26.5019 105.079 32.2524 104.22C34.1942 103.923 36.1122 103.523 37.9995 102.957C45.8716 100.656 51.4064 95.6497 55.0392 88.3477C56.5889 85.2023 57.6011 81.9178 58.2869 78.511C58.8572 75.7441 59.3459 72.9467 59.889 70.1696C60.4084 67.5388 60.9822 64.9284 62.0933 62.4571C64.0642 58.1033 67.4234 55.7593 72.1948 55.5273C73.3 55.4753 74.3815 55.5697 75.4767 55.7933C77.9595 56.288 80.2996 57.164 82.5752 58.2951C84.5345 59.2769 86.521 60.2688 88.4904 61.2233C92.5722 63.2479 96.5579 62.877 100.461 60.7368C101.709 60.0552 102.879 59.2511 104.004 58.3995C105.252 57.4694 106.449 56.4272 107.662 55.4224C109.492 53.9338 111.348 52.4554 113.221 51.0145C114.612 49.9517 116.104 49.1133 117.703 48.4076C121.273 46.8257 124.759 47.0439 128.126 48.9874C129.63 49.8606 131.066 50.8326 132.521 51.7501C134.651 53.106 136.821 54.353 139.287 55.0587C142.28 55.9306 145.171 55.8329 147.949 54.2959C148.231 54.3705 148.445 54.2955 148.557 53.9959L148.595 53.9789C149.016 54.0126 149.329 53.7571 149.649 53.5663C151.278 52.5305 152.773 51.3518 154.086 49.9182C155.694 48.6884 156.7 47.0781 157.349 45.1788C156.06 46.4661 154.888 47.8588 153.786 49.3093C152.154 50.9338 150.077 51.9258 148.183 53.1728C147.877 53.2445 147.571 53.3162 147.282 53.4254C144.551 54.4213 141.902 54.2058 139.259 53.0613C137.286 52.1987 135.585 50.9411 133.874 49.7107C132.36 48.6163 130.887 47.413 129.278 46.4072C125.251 43.9062 121.054 43.515 116.671 45.4447C115.223 46.0822 113.879 46.8524 112.577 47.762C110.775 49.0123 109.086 50.4599 107.45 51.9279C105.815 53.3959 104.153 54.8537 102.5 56.2842C101.303 57.3265 100.011 58.2089 98.58 58.8839C95.8563 60.1928 93.1459 60.3891 90.4213 58.9656C88.8158 58.1163 87.268 57.1955 85.6625 56.3462C82.4617 54.6203 79.2404 52.9489 75.6217 52.3394C69.4351 51.2966 64.2324 53.0126 60.4832 58.222C59.2425 59.9619 58.3896 61.909 57.8258 63.9953C56.7458 67.8754 56.1861 71.8571 55.4529 75.8049C54.6655 79.9807 53.6773 84.1125 51.662 87.9219C48.8956 93.1576 45.0678 97.251 39.5354 99.6818C37.349 100.633 35.1251 101.353 32.8161 101.886C29.1435 102.746 25.4062 103.365 21.6654 103.828C19.3189 104.129 16.9928 104.376 14.6463 104.678C14.2586 104.719 13.7553 104.655 13.5616 105.172C13.9324 105.59 14.4255 105.433 14.8846 105.45Z"></path>
								<path class="fill-primary" d="M157.352 45.087C157.342 45.1142 157.314 45.104 157.304 45.1313C157.294 45.1585 157.284 45.1857 157.274 45.213C157.284 45.1857 157.321 45.1687 157.321 45.1687C157.331 45.1414 157.342 45.1142 157.352 45.087Z"></path>
								<path class="fill-primary" d="M157.889 43.6438C157.655 44.2701 157.502 44.6786 157.349 45.087C157.91 44.583 157.92 44.5557 157.889 43.6438Z"></path>
							</svg>
						</figure>

						<!-- Card START -->
						<div class="card border p-4">


							<img src="{{ url }}/assets/template/mizzle/images/saas-bg.jpg">


						</div>
					</div>
				</div>
				<!-- Feature image & decoration END -->
			</div>
			<!-- Row END -->
		</div>


		{% if onEdit == true %}


			<div class="accordion accordion-flush">
				<div class="accordion-item">
					<h2 class="accordion-header" id="acordion{{ componentsId }}">
						<button class="btn btn-white" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseMaster{{ componentsId }}" aria-expanded="false" aria-controls="flush-collapseOne">
							<i class="bi bi-view-list"></i>
						</button>
					</h2>
					<div id="flush-collapseMaster{{ componentsId }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#acordion{{ componentsId }}">


						<div class="container">
							<div class="bg-white pt-1">
								<h5 style="margin-left: 10px; margin-top: 3px;">
									<i class="bi bi-pencil-square"></i>&nbsp;Admin tools &nbsp;
									<i class="bi bi-arrow-bar-up"></i>
								</h5>
								<div>
									<div class="accordion accordion-flush mb-0 py-0 border border-success border-left-0 border-right-0" id="accordionflushexample{{ componentsId }}">

										<div class="accordion-item">
											<h2 class="accordion-header" id="flush-headingOne{{ componentsId }}">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne{{ componentsId }}" aria-expanded="false" aria-controls="flush-collapseOne">
													Edit componets
												</button>
											</h2>
											<div id="flush-collapseOne{{ componentsId }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
												<div class="accordion-body">
													<b>Button:</b>
													<i class="{{contentData.content11|default('bi bi-truck-flatbed')}} text-primary" style="font-size: 20px; padding: 0px;"></i>
													<span contenteditable="{{onEdit ? 'true' : 'false'}}" class="editable-element border border-success" data-language="{{language}}" data-column="content11" data-id="{{contentsId}}">{{contentData.content11|default('bi bi-truck-flatbed')}}</span>
													<b>Link:</b>
													<i class="{{contentData.content12|default('bi bi-truck-flatbed')}} text-primary" style="font-size: 20px; padding: 0px;"></i>
													<span contenteditable="{{onEdit ? 'true' : 'false'}}" class="editable-element border border-success" data-language="{{language}}" data-column="content12" data-id="{{contentsId}}">{{contentData.content12|default('bi bi-truck-flatbed')}}</span>

													<b>Icon1:</b>
													<i class="{{contentData.content13|default('bi bi-truck-flatbed')}} text-primary" style="font-size: 20px; padding: 0px;"></i>
													<span contenteditable="{{onEdit ? 'true' : 'false'}}" class="editable-element border border-success" data-language="{{language}}" data-column="content13" data-id="{{contentsId}}">{{contentData.content13|default('bi bi-truck-flatbed')}}</span>
													<b>Icon2:</b>
													<i class="{{contentData.content14|default('bi bi-boxes')}} text-primary" style="font-size: 20px; padding: 0px;"></i>
													<span contenteditable="{{onEdit ? 'true' : 'false'}}" class="editable-element border border-success" data-language="{{language}}" data-column="content14" data-id="{{contentsId}}">{{contentData.content14|default('bi bi-boxes')}}</span>

													<b>Icon3:</b>
													<i class="{{contentData.content15|default('bi bi-people')}} text-primary" style="font-size: 20px; padding: 0px;"></i>
													<span contenteditable="{{onEdit ? 'true' : 'false'}}" class="editable-element border border-success" data-language="{{language}}" data-column="content15" data-id="{{contentsId}}">{{contentData.content15|default('bi bi-people')}}</span>

													<b>Icon4:</b>
													<i class="{{contentData.content16|default('bi bi-shield-check')}} text-primary" style="font-size: 20px; padding: 0px;"></i>
													<span contenteditable="{{onEdit ? 'true' : 'false'}}" class="editable-element border border-success" data-language="{{language}}" data-column="content16" data-id="{{contentsId}}">{{contentData.content16|default('bi bi-shield-check')}}</span>


													<span class="mx-3">
														<a href="https://icons.getbootstrap.com/" target="_blank">
															<i class="bi bi-grid-3x3-gap"></i>
															Icon list</a>
													</span>
												</div>
											</div>
										</div>
										<div class="accordion-item">
											<h2 class="accordion-header" id="flush-headingTwo{{ componentsId }}">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo{{ componentsId }}" aria-expanded="false" aria-controls="flush-collapseTwo">
													Developer Tool
												</button>
											</h2>
											<div id="flush-collapseTwo{{ componentsId }}" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample{{ componentsId }}">
												<div class="accordion-body">
													Components id:
													<b>{{ componentsId }}</b>
													Page id:
													<b>{{ pageId }}</b>
													Component Order:
													<b>{{ componentOrder }}</b>
													Component name:
													<b>{{ componentName }}</b>
													Contents id:
													<b>{{ contentsId }}</b>

												</div>
											</div>
										</div>
										<div class="accordion-item">
											<h2 class="accordion-header" id="flush-heading3{{ componentsId }}">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3{{ componentsId }}" aria-expanded="false" aria-controls="flush-collapseThree">
													Actions
												</button>
											</h2>
											<div id="flush-collapse3{{ componentsId }}" class="accordion-collapse collapse" aria-labelledby="flush-heading3" data-bs-parent="#accordionFlushExample">
												<div class="accordion-body">
													<div class="btn-group flex-column flex-sm-row" role="group" aria-label="Basic example">

														<form method="POST" action="{{ url }}/admin/EditComponentsOrder/">
															<input type="hidden" name="akce" value="edit">
															<input type="hidden" name="components_id" value="{{ componentsId }}">
															<button type="submit" class="btn btn-primary mx-2" name="submitContentOrder">
																<i class="bi bi-arrow-bar-up"></i>
																<i class="bi bi-pencil-square"></i>
																Edit Order:
																{{ componentOrder }}
															</button>
														</form>

														<form method="POST" action="{{ url }}/admin/createContent/">
															<input type="hidden" name="pages_id" value="{{ pageId }}">
															<input type="hidden" name="order" value="{{ componentOrder }}">
															<button type="submit" name="submitCreateContent" class="btn btn-primary mx-2">
																<i class="bi bi-arrow-bar-down"></i>
																New Component
															</button>
														</form>


														<form method="POST" action="{{ url }}/admin/deleteComponets/">
															<input type="hidden" name="deleteComponents" value="{{ componentsId }}">
															<button type="submit" name="submitComponentsDel" class="btn btn-danger mx-2">
																<i class="bi bi-trash3"></i>
																Drop item
															</button>
														</form>


													</div>

												</div>
											</div>
										</div>
										<div class="accordion-item">
											<h2 class="accordion-header" id="flush-heading4{{ componentsId }}">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4{{ componentsId }}" aria-expanded="false" aria-controls="flush-collapseThree">
													Edit components buttons
												</button>
											</h2>
											<div id="flush-collapse4{{ componentsId }}" class="accordion-collapse collapse" aria-labelledby="flush-heading4" data-bs-parent="#accordionFlushExample">
												<div class="accordion-body">
													<div class="btn-group flex-column flex-sm-row" role="group" aria-label="Basic example">


														<form method="POST" action="{{ url }}/admin/editContentt/">
															<input type="hidden" name="akce" value="edit">
															<input type="hidden" name="contents_id" value="{{ contentsId }}">
															<input type="hidden" name="column" value="content13">
															<input type="hidden" name="language" value="{{ language }}">
															<button type="submit" name="submitEditContent" class="btn btn-primary mx-2">
																<i class="fa fa-edit">{{contentData.content13|default('bi bi-truck-flatbed')}}</i>
															</button>
														</form>

														<form method="POST" action="{{ url }}/admin/editContentt/">
															<input type="hidden" name="akce" value="edit">
															<input type="hidden" name="contents_id" value="{{ contentsId }}">
															<input type="hidden" name="column" value="content14">
															<input type="hidden" name="language" value="{{ language }}">
															<button type="submit" name="submitEditContent" class="btn btn-primary mx-2">
																<i class="fa fa-edit">{{contentData.content14|default('bi bi-boxes')}}</i>
															</button>
														</form>


														<form method="POST" action="{{ url }}/admin/editContentt/">
															<input type="hidden" name="akce" value="edit">
															<input type="hidden" name="contents_id" value="{{ contentsId }}">
															<input type="hidden" name="column" value="content15">
															<input type="hidden" name="language" value="{{ language }}">
															<button type="submit" name="submitEditContent" class="btn btn-primary mx-2">
																<i class="fa fa-edit">{{contentData.content15|default('bi bi-people')}}</i>
															</button>
														</form>

														<form method="POST" action="{{ url }}/admin/editContentt/">
															<input type="hidden" name="akce" value="edit">
															<input type="hidden" name="contents_id" value="{{ contentsId }}">
															<input type="hidden" name="column" value="content16">
															<input type="hidden" name="language" value="{{ language }}">
															<button type="submit" name="submitEditContent" class="btn btn-primary mx-2">
																<i class="fa fa-edit">{{contentData.content16|default('bi bi-chat-square-dots-fill')}}</i>
															</button>
														</form>


													</div>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>


	{% endif %}
</section>
