<!doctype html>
<html lang="cs">

	<head>
		<meta charset="utf-8">
		<title>dobrodruzi.cz | Svoboda Respekt Zodpovědnost</title>


		<!-- mobile responsive meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="Nabízíme nástroje na udržení osobní svobody">
		<meta name="author" content="dobrodruzi.cz">


		<!--Favicon-->
		<link rel="shortcut icon" href="{{ url }}/assets/images/logo/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ url }}/assets/images/logo/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ url }}/assets/images/logo/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ url }}/assets/images/logo/favicon-16x16.png">


		<!-- Google Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		{# <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600&display=swap" rel="stylesheet"> #}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


		<!-- plugins -->
		<link rel="stylesheet" href="{{ url }}/plugins/themify-icons/themify-icons.css">
		<link rel="stylesheet" href="{{ url }}/plugins/slick/slick.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
		<link rel="stylesheet" href="{{ url }}/plugins/fontawesome-icons-pro/css/all.css">
		<link href="{{ url }}/plugins/fontawesome-icons-pro/css/all.css" rel="stylesheet">
		<link rel="stylesheet" href="{{ url }}/plugins/bootstrap-icons-1.11.3/bootstrap-icons-1.11.3/font/bootstrap-icons.css">


		<!-- Theme CSS -->
		<link rel="stylesheet" href="{{ url }}/assets/template/mizzle/css/style.css" media="screen">
		<link rel="stylesheet" href="{{ url }}/assets/template/mizzle/css/bugy.css" media="screen">
		<link rel="stylesheet" type="text/css" href="{{ url }}/assets/template/mizzle/css/swiper-bundle.min.css">

		<script src="{{ url }}/assets/template/mizzle/js/bugy.js"></script>
	

<style>
.save-success {
    background-color: #c8e6c9; /* Zelené pozadí */
}
.save-error {
    background-color: #ffcdd2; /* Červené pozadí */
}
</style>

	</head>

	<body>
